*.gem
*.rbc
.bundle
.config
.sass-cache
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
benchmark.rb

# YARD artifacts
.yardoc
_yardoc
doc/

.rspec
spec/fixtures/default/log/*

.ruby-*

log
dragonfly.log
