---
{
  "name": "carousel",
  "category": "carousel",
  "class": "section-carousel",
  "settings":
  [
    {
      "id": "brand",
      "type": "text",
      "label": "Text to display in the carousel",
      "default": "Header"
    }
  ],
  "dropzone_presets": [
    {
      "name": "Carousel",
      "category": "Content",
      "settings": {
        "brand": "Acme"
      },
      "blocks": [
      ]
    }
  ]
}
---
<h2>
  CAROUSEL
</h2>
