---
{
  "name": "carousel",
  "category": "carousel",
  "class": "section-carousel",
  "settings":
  [
    {
      "id": "brand",
      "type": "text",
      "label": "Text to display in the carousel",
      "default": "Header"
    }
  ]
}
---

<h2>
  FOOTER PLAIN TEXT
</h2>
