---
{
  "name": "footer",
  "category": "footer",
  "class": "section-footer",
  "settings":
  [
    {
      "id": "brand",
      "type": "text",
      "label": "Text to display in the footer",
      "default": "Header"
    },
    {
      "id": "copyright",
      "type": "text",
      "label": "Copyright",
      "default": "(c) NoCoffee"
    }
  ],
  "blocks": [
    {
      "type": "link",
      "settings": [
        {
          "id": "label",
          "type": "text",
          "label": "Label",
          "default": "Link"
        },
        {
          "id": "url",
          "type": "url",
          "label": "Url",
          "default": "https://www.locomotivecms.com"
        },
        {
          "id": "new_tab",
          "type": "checkbox",
          "label": "Open in a new tab?",
          "default": true
        }
      ]
    }
  ],
  "global_content":
  {
    "settings":
    {
      "brand": "MY COMPANY"
    },
    "blocks":
    [
      {
        "type": "link",
        "settings":
        {
          "label": "Link #1",
          "url": "https://www.nocoffee.fr",
          "new_tab": true
        }
      },
      {
        "type": "link",
        "settings":
        {
          "label": "Link #2",
          "url": "https://www.nocoffee.fr",
          "new_tab": true
        }
      },
      {
        "type": "link"
      }
    ]
  }
}
---

<h2>
  FOOTER PLAIN TEXT
</h2>
