---
{
  "name": "Hero",
  "class": "section-hero",
  "settings":
  [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Title goes here"
    }
  ],
  "dropzone_presets": [
    {
      "name": "Simple Hero",
      "category": "Content",
      "settings": {
        "title": "Hello world!"
      },
      "blocks": []
    }
  ]
}
---
<h2>
  HERO
</h2>
