---
title: Basic page
position: 6
---
!!! XML
!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %title {{ page.title }}
  %body
    %p
      This is a basic page

    %ul
      %li Color scheme={{ site.metafields.color_scheme }}
      %li Facebook ID={{ site.metafields.facebook_id }}
      %li Google ID={{ site.metafields.google_id }}
      %li API URL={{ site.metafields.api_url }}
      %li Expires In={{ site.metafields.expires_in }}
