---
title: Change your password
published: true
listed: false
handle: reset_password
---
{% extends 'index' %}

{% block content %}

<h2>Change your password</h2>

{% if current_account %}
  You're already authenticated!
{% else %}
  <form action="{% path_to 'reset_password' %}" method="POST">
    <input type="hidden" name="auth_action" value="reset_password" />
    <input type="hidden" name="auth_content_type" value="accounts" />
    <input type="hidden" name="auth_password_field" value="email" />
    <input type="hidden" name="auth_reset_token" value="{{ params.token }}" />
    <input type="hidden" name="auth_callback" value="{% path_to me %}" />

    {% if auth_invalid_token %}
      {{ auth_invalid_token | translate }}
    {% endif %}

    {% if auth_password_too_short %}
      {{ auth_password_too_short | translate }}
    {% endif %}

    <div class="form-group">
      <label for="auth-password">Your new password</label>
      <input type="password" class="form-control" id="auth-password" placeholder="Password" name="auth_password">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>

{% endif %}
</div>

{% endblock %}
